.root{
  background-color: #F1F2F7;
}

.App{
  background-color: #F1F2F7;
  min-height: 100vh;
}

.App-logos {
  animation: App-logo-spin infinite 20s linear;
  width: 10vh;
  height: 10vh;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App-logo-name {
  width: 25vh;
  height: 10vh;
}

.App-header {
  height: 12vh;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
  color: #74d14c;  
}

.Box {
  height: 30vh;
  width: 20vh;
  border-style: none; 
  border-radius: 10px;
  background-color: white;
  margin: 2vh;
  float: left;
}

.grid-container {
  width: 95%;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #536161;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.coinImages {
  width: 10vh;
  height: 10vh;
}

.main-container {
  text-align: center;
  min-height: 80vh;
  padding-bottom: 10px;
}

.jumbotron {
  position: relative;
  padding: 2.5vh !important;
  margin-bottom: 0 !important;
  background-color: black !important;
}

.container-fluid{
  padding: 0 !important;
}

.coinImages{
  margin-top: 3vh;
  border: 0px solid grey;
}

.coinName {
  font-size: 2vh;
}

.btn-info{
  font-size: 2.5vh !important; 
  
}

.increaseValue {
  background-color: green;
  animation: coinValueChangeUp 5s !important;
}

@keyframes coinValueChangeUp {
  from { background-color: green; }
  to { background-color: #17a2b8; }
}

.decreaseValue {
  background-color: red;
  animation: coinValueChangeDown 5s !important; 
}

@keyframes coinValueChangeDown {
  from { background-color: red; }
  to { background-color: #17a2b8; }
}

.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.coin-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-input{
  height: 5vh;
  width: 25vh;
  margin: 3vh;
  font-size: 2.7vh;
  border-style: none; 
  border-radius: 10px;
  background-color: white;
  text-align: center;
  color: #74d14c;
}